create components
<app-max-min-meter
  [minLabel]="appMinLabel"
  [maxLabel]="appMaxLabel"
  (minChange)="doAppMinChange($event)"
  (maxChange)="doAppMaxChange($event)"
></app-max-min-meter>
<br />

style blinding
<app-square-flex
  [divWidth]="squareWidth"
  [divHeight]="squareHeight"
></app-square-flex>

<div>
  Width:
  <button type="button" (click)="doSquareWidthChange(100)">100</button>
  <button type="button" (click)="doSquareWidthChange(200)">200</button>
  <button type="button" (click)="doSquareWidthChange(300)">300</button>
</div>
<br />

two way binding
<app-action-bar [step]="10" [(counter)]="appCounter" />
<app-square-flex [divWidth]="appCounter" />
<br />

ngIf structural directive
<button (click)="activate = !activate">Activate</button>
<div *ngIf="activate; else elseTemplate">
  <app-action-bar />
</div>
<br />

<ng-template #elseTemplate>
  <div>inactivate now</div>
</ng-template>

<div>
  array & ngFor structural directive
  <button (click)="unShiftCustomer()">unshift</button>
  <button (click)="pushCustomer()">push</button>
  <ul>
    <li *ngFor="let customer of customerList">{{ customer }}</li>
  </ul>
</div>
